body {
      background-color: rgb(31, 31, 31);
      font: normal 15pt Arial;
}

header {
      text-align: center;
      color: rgb(0, 255, 0)
      

}
 section {
      
      background-color: white;
      border-radius: 10px;
      padding: 15px;
      width: 600px;
      margin: auto;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.398);

}

footer {
      text-align: center;
      font-style: italic;
      color: white
   

}

section > div {
      display: flex;
      margin: 10px;
      font-size: 12pt;
      flex-direction: row;
  }
  
  section > div > input {
      width: 100%;
      margin-left: 10px;
  }

      section > select {
      width: 100%;
}
